{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
    {% endif %}


    <h5><a href="{% url 'account:user_profile' post.user.id %}">{{ post.user }}</a> - {{ post.updated_at|date:'Y M d' }}
    </h5>
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
    <hr>
    <h4>comments</h4>

    {% for comment in post_comments %}
        <div class="card bg-dark text-white">
            <p class="card-header"> {{ comment.user }} | {{ comment.created_at|timesince }}</p>
            <p class="card-body">{{ comment.body }}</p>
        </div>
    {% empty %}
        <p>No comments yet!</p>
    {% endfor %}


{% endblock %}