{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
    {% endif %}


    <h5><a href="{% url 'account:user_profile' post.user.id %}">{{ post.user }}</a> - {{ post.updated_at|date:'Y M d' }}
    </h5>
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>

    {% if request.user.is_authenticated %}
        <a href="{% url 'home:post_like' post.id %}" class="btn btn-primary col-md-2">Like</a>
        <form method="post">
            {% csrf_token %}
            {{ create_comment_form.as_p }}
            <input type="submit" value="Send">
        </form>
    {% else %}
        <p class="alert alert-danger">Only Logged in users can comment</p>
    {% endif %}
    <br>

    <hr>
    <h4>comments</h4>

    {% for comment in post_comments %}
        <div class="card bg-dark text-white">
            <p class="card-header"> {{ comment.user }} | {{ comment.created_at|timesince }}</p>
            <p class="card-body">{{ comment.body }}</p>
            {% if request.user.is_authenticated %}
                <form action="{% url 'comment:reply_comment' post.id comment.id %}" method="post">
                    {% csrf_token %}
                    {{ reply_comment_form.as_p }}
                    <input type="submit" value="Send Reply">
                </form>
            {% endif %}
            {% include "comment/_comment.html" with comment=comment %}

        </div>
        <br>
    {% empty %}
        <p>No comments yet!</p>
    {% endfor %}


{% endblock %}